/* USE BETTER COLOUR COMBINATIONS :D */
/* Give proper spacing and styling to components */
/* Use Proper Fonts */
body {
  padding-top: 1rem;
  margin: 0;
 
  height: auto;
  overflow-x: hidden;
}
.open{
  cursor: pointer;
}
a.logo {
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
}

.hov{transition: all .4s ease-in-out;}

.hov:hover {
      
  transform: scale(1.1);

/* position:relative;

height:200px !important ; */
}

form.searchForm {
  width: 55%;
  /* height: 100px; */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 2rem auto 0;
  background: white;
  border-radius: 2rem;
  overflow: hidden;
}

input#searchText {
  /* width: 60%; */
    border: none;
    width: 100%;
  border-radius: 30px;
  padding: 7px;
  outline: none;
}

button#searchBtn {
  outline: none;
  background: inherit;
  border: none;
}

.searchIcon {
  font-size: 1.5em;
  font-weight: 400;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.navbar{
  background-color: #fdfdfd ;
}
.navbar-brand{
  color: white;
}

.navbar-nav li a{
  color: white;
}

.main-area{
  display: flex;
  height: 80vh;
}

#searchBar{
  margin-top: 20vh;
}

.container1{
height: 90%;
width: 90%;
margin: 40px auto;
padding: 30px;
}

.container-fluid{
height: 90%;
width: 90%;
margin-top: 40px;
padding: 30px;
border-radius: 40px;
background:  #e6e7ee; 
box-shadow: 3px 3px 6px #b8b9be,-3px -3px 6px #fff;
}

.card{
border-radius: 15px;
/* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; */
background-color: #000000;
margin: 20px auto 0;
/* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.card:hover{
box-shadow: 3px 3px 10px #b8b9be, -3px -3px 6px #fff;
transition: all 0.3s;
}

.card-img, .card-img-top{
border-radius: 15px;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* #searchForm{
  margin-top:50px;
} */

.hidden{
  display: none;
}

#searchResult{
  margin: 20px;
  padding: 20px
}

.inline-ul li{
  display: inline;
  margin-right: 30px;
}
#sec-ul li a{
  color: #fff;
}

#sec-ul li a:hover{
  background-color: #ffffff;
  border-radius: 30px;
  padding: 5px 20px;
}

.active-b{
  background-color: #1F2041;
  border-radius: 30px;
  padding: 5px 20px;
}

table{
  margin-top: 35px;
  border-radius: 10px;
}

td, th{
  border: 2px solid rgb(255, 255, 255);
  color: #b3b3b3;
  padding: 5px
}

th{
  color: #000;
  font-size: 30px;
}

#sec-info{
  margin-top:50px;
}

.container .head-row {
display: flex;
justify-content: space-between;
flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 979px) {
  .container .head-row {
    justify-content: flex-start;
    margin: 0 20px;
    }

    form#searchForm {
      width: 80%;
    }
}

#main-info{display:flex;}

#show-image img{border-radius: 10px;}

#show-prim-info{margin-left: 50px;}

.list-links::after{color:#ffffff}

.tvcard:hover{
  cursor: pointer;
}

.season_design{
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  flex-wrap: wrap;
  border-radius: 10px;
  font-size: 18px;
  list-style: none;
  margin-top:30px
}

.slink {
  color:rgb(253, 253, 253);
  font-weight: bold;
}

.slink:hover {
  color:rgb(155, 240, 240);
  font-weight: bold;
}

.table_design{
  background-color: #feffff;
  color: black;
} 

.table_design td{
  color: rgb(255, 255, 255);
  border: 0px solid white;
}

.table_design th{
  background-color: #263f52;
  color: white;
  border: solid black 0px;
  font-size: 16px;
}

.table_design tr:nth-child(odd){
  background-color: #c3c4c4;
}

.carousel{
  width: 1100px;
  height: 140px;

}

#recommendations > div{
  margin: 5px;
  border-radius: 10px;
}

.recom-div > img{
  width: 250px;
  height: 140px;
  border-radius: 10px;
  box-shadow: 9px 9px 20px, 7px 7px 10px, 5px 5px 7px, 3px 3px 1px, 1px 1px;
}
.recom-div > span{
  margin-top: 15px;
  padding: 10px;
}

.recs{display: flex;}

.recom-div{margin:10px}

.recom-div > span > p:nth-child(1){
  margin-right: 30px;
}

.active-link{
  color:cyan;
}
.cast-card {
  border-radius: 20px;
  width: 14rem;
  height: 280px;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  #main-info{
    align-items: center;
    flex-direction: column;
  }
  #show-prim-info{
    margin-left: 0;
  }
  #show-prim-info h1{
    text-align: center;
  }
}
a{
  cursor: pointer;
}