/* USE BETTER COLOUR COMBINATIONS :D */
/* Give proper spacing and styling to components */
/* Use Proper Fonts */
body {
  padding-top: 1rem;
  margin: 0;
  background-color: #2D6967 ;
  height: auto;
}

a.logo {
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
}

form.searchForm {
  width: 55%;
  /* height: 100px; */
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 2rem auto 0;
  background: white;
  border-radius: 2rem;
  overflow: hidden;
}

input#searchText {
  /* width: 60%; */
    border: none;
    width: 100%;
  border-radius: 30px;
  padding: 7px;
  outline: none;
}

button#searchBtn {
  outline: none;
  background: inherit;
  border: none;
}

.searchIcon {
  font-size: 1.5em;
  font-weight: 400;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.navbar{
  background-color: #2D6967 ;
}
.navbar-brand{
  color: white;
}

.navbar-nav li a{
  color: white;
}

.main-area{
  display: flex;
  height: 80vh;
}

#searchBar{
  margin-top: 20vh;
}

.container1{
height: 90%;
width: 90%;
margin: 40px auto;
padding: 30px;
}

.container-fluid{
height: 90%;
width: 90%;
margin-top: 40px;
padding: 30px;
border-radius: 40px;
background:  #e6e7ee; 
box-shadow: 3px 3px 6px #b8b9be,-3px -3px 6px #fff;
}

.card{
border-radius: 20px;
/* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; */
background-color: #48A9A6;
margin: 20px auto 0;
/* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.card-img, .card-img-top{
border-radius: 20px;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

/* #searchForm{
  margin-top:50px;
} */

.hidden{
  display: none;
}

#searchResult{
  margin: 20px;
  padding: 20px
}

.inline-ul li{
  display: inline;
  margin-right: 30px;
}
#sec-ul li a{
  color: #fff;
}

#sec-ul li a:hover{
  background-color: #1F2041;
  border-radius: 30px;
  padding: 5px 20px;
}

.active-b{
  background-color: #1F2041;
  border-radius: 30px;
  padding: 5px 20px;
}

table{
  margin-top: 35px;
}

td, th{
  border: 2px solid black;
  color: #b3b3b3;
  padding: 5px
}

th{
  color: #000;
  font-size: 22px;
}

#sec-info{
  margin-top:50px;
}

.container .head-row {
display: flex;
justify-content: space-between;
flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 979px) {
  .container .head-row {
    justify-content: flex-start;
    margin: 0 20px;
    }

    form#searchForm {
      width: 80%;
    }
}

#main-info{display:flex;}

#show-image img{border-radius: 10px;}

#show-prim-info{margin-left: 50px;}

.list-links::after{color:#ffffff}

.tvcard:hover{
  cursor: pointer;
}