/* USE BETTER COLOUR COMBINATIONS :D */
/* Give proper spacing and styling to components */
/* Use Proper Fonts */
body {
  padding-top: 1rem;
  margin: 0;
  background-color: #2D6967 ;
  height: auto;
  overflow-x: hidden;
}

a.logo {
  font-size: 2.5em;
  font-family: 'Dancing Script', cursive;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: #051b33;
}

form{
  position: relative;
  top: 100%;
  left: 50%;
  transform: translate(-50%,-50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 25px;
  border: 4px solid white;
  margin-top: 50px;
  padding: 1px;
}

input{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  display: none;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa{
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

form:hover{
  width: 500px;
  cursor: pointer;
}

form:hover input{
  display: block;
}

form:hover .fa{
  background: #07051a;
  color: white;
}

button#searchBtn {
  outline: none;
  background: inherit;
  border: none;
}

.searchIcon {
  font-size: 1.5em;
  font-weight: 400;
}

@media (max-width: 979px) {
  body {
    padding-top: 0px;
  }
}
.navbar{
  background-color: #2D6967 ;
}
.navbar-brand{
  color: white;
}

.navbar-nav li a{
  color: white;
}

.main-area{
  display: flex;
  height: 80vh;
}

#searchBar{
  margin-top: 20vh;
}

.container1{
height: 90%;
width: 90%;
margin: 40px auto;
padding: 30px;
}

.container-fluid{
height: 90%;
width: 90%;
margin-top: 40px;
padding: 30px;
border-radius: 40px;
background:  #e6e7ee; 
box-shadow: 3px 3px 6px #b8b9be,-3px -3px 6px #fff;
}

.card{
border-radius: 20px;
/* box-shadow: 3px 3px 6px #b8b9be, -3px -3px 6px #fff; */
background-color: #48A9A6;
margin: 20px auto 0;
/* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

.card-img, .card-img-top{
border-radius: 20px;
}

.card-img-top {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

#searchForm{
  margin-top:50px;
}

.hidden{
  display: none;
}

#searchResult{
  margin: 20px;
  padding: 20px
}

.inline-ul li{
  display: inline;
  margin-right: 30px;
}
#sec-ul li a{
  color: #fff;
}

#sec-ul li a:hover{
  background-color: #1F2041;
  border-radius: 30px;
  padding: 5px 20px;
}

.active-b{
  background-color: #1F2041;
  border-radius: 30px;
  padding: 5px 20px;
}

table{
  margin-top: 35px;
}

td, th{
  border: 2px solid black;
  color: #b3b3b3;
  padding: 5px
}

th{
  color: #000;
  font-size: 22px;
}

#sec-info{
  margin-top:50px;
}

.container .head-row {
display: flex;
justify-content: space-between;
flex-direction: row;
  flex-wrap: nowrap;
}

@media (max-width: 979px) {
  .container .head-row {
    justify-content: flex-start;
    margin: 0 20px;
    }

    form#searchForm {
      width: 80%;
    }
}

#main-info{display:flex;}

#show-image img{border-radius: 10px;}

#show-prim-info{margin-left: 50px;}

.list-links::after{color:#ffffff}

.tvcard:hover{
  cursor: pointer;
}

.season_design{
  background-color: rgb(255, 255, 255,0.2);
  padding-top: 5px;
  padding-bottom: 5px;
  display: inline-block;
  border-radius: 10px;
  font-size: 18px;
}

.slink:link {
  color:black;
  font-weight: bold;
}

.slink:visited {
  color:black;
  font-weight: bold;
}

.slink:hover {
  color:cyan;
  font-weight: bold;
}


.table_design{
  background-color: #feffff;
  color: black;
} 

.table_design td{
  color: black;
  border: 0px solid white;
}

.table_design th{
  background-color: #263f52;
  color: white;
  border: solid black 0px;
  font-size: 16px;
}

.table_design tr:nth-child(odd){
  background-color: #c3c4c4;
}

.carousel{
  width: 1100px;
  height: 140px;

}

#recommendations > div{
  margin: 5px;
  border-radius: 10px;
}

.recom-div > img{
  width: 230px;
  height: 130px;
  border-radius: 10px;
  box-shadow: 9px 9px 20px, 7px 7px 10px, 5px 5px 7px, 3px 3px 1px, 1px 1px;
}
.recom-div > span{
  margin-top: 15px;
  padding: 10px;
}

.recs{display: flex;}

.recom-div{margin:10px; padding-right: 20px;}

.recom-div > span > p:nth-child(1){
  margin-right: 30px;
}

.simTitle{
  color: white;
  font-weight: 400;
}

@media (max-width: 767px) {
  .carousel-inner .carousel-item > div {
      display: none;
  }
  .carousel-inner .carousel-item > div:first-child {
      display: block;
  }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
  
  .carousel-inner .carousel-item-end.active,
  .carousel-inner .carousel-item-next {
    transform: translateX(25%);
  }
  
  .carousel-inner .carousel-item-start.active, 
  .carousel-inner .carousel-item-prev {
    transform: translateX(-25%);
  }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
transform: translateX(0);
}

